.header {
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2.5rem;
  }

  h1,
  h2 {
    position: relative;
    z-index: 2;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
