.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;

  h2,
  h3 {
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
  }

  .cta {
    margin-top: 1rem;

    a {
      font-size: 1.8rem;
      color: var(--color-secondary);

      &:after {
        content: '>>';
        margin-left: 5px;
        display: inline-block;
        transition: all 0.2s ease;
      }

      &:hover {
        color: var(--color-secondary-hover);

        &:after {
          transform: translateX(3px);
        }
      }
    }
  }
}
