/* Globals  */
:root {
  /* Variables  */
  --color-background: #020617;

  /* slate 400  */
  --color-primary: #94a3b8;

  /* slate 300  */
  --color-primary-hover: #cbd5e1;

  --font-primary: 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* 10px = 1rem  */
  font-size: 62.5%;
}

body {
  background: var(--color-background);
  color: var(--color-primary);

  font-family: var(--font-primary);
}
