:root {
  --color-background: #020617; // slate 950
  --color-shadow: #1e293b; // slate 800

  --color-primary: #94a3b8; // slate 400
  --color-primary-hover: #cbd5e1; // slate 300

  --color-secondary: #c4b5fd; // violet 300
  --color-secondary-hover: #ddd6fe; // violet 200

  --color-input-bg: #ddd6fe;
  --color-button-bg: #020617;
  --color-button-hover: #1e293b;

  --font-primary: 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* 10px = 1rem  */
  font-size: 62.5%;
}

body {
  background: var(--color-background);
  color: var(--color-primary);

  font-family: var(--font-primary);
}

a {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: var(--color-primary-hover);
  }
}
