.imageContainer {
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: none;
  margin-top: 2rem;
  border-radius: 5px;

  @media only screen and (max-width: 50em) {
    display: block;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.projectLink {
  margin-top: 1rem;
  display: flex;
  align-items: center;

  img {
    margin-left: 5px;
  }
}
