.projects {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;

  .colOne,
  .colTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imgContainer {
    width: 60rem;
    height: 60rem;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;

    &:hover {
      box-shadow: var(--color-secondary-hover) 0px 8px 24px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left;
    }
  }
}
