.projects {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
  overflow-y: auto;

  @media only screen and (max-width: 50em) {
    height: auto;
    display: flex;
  }

  .colOne,
  .colTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .colTwo {
    @media only screen and (max-width: 50em) {
      display: none;
    }
  }

  .imgContainer {
    width: 60rem;
    height: 60rem;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
    transition: all 0.2s ease;

    @media only screen and (max-width: 68.75em) {
      width: 50rem;
      height: 50rem;
    }

    &:hover {
      box-shadow: var(--color-secondary-hover) 0px 8px 24px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left;
    }
  }
}
